#designing-water-header-text {
  color: white;
  text-decoration: none;
}

.header-link {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
}

nav {
  float: right;
  position: relative;
  bottom:80px;
}

.site-header {
  display: inline;
}