.to-register {
    background-color: black;
    color: white;
    padding: 5px 5px
}

@media(max-width: 992px) {
    .nav-large-screen {
        display: none;
    }
}

@media(min-width: 992px) {
    .nav-large-screen {
        margin-right: 28px;
    }

    .mobile-nav-closed-black {
        display: none;
    }
}