#designing-water-header-text {
  color: white;
  text-decoration: none;
}

.homepage-banner {
  background-image: url('../../Assets/homepage-background.jpg');
  background-size: 100vw 1280px;
  background-repeat: no-repeat;
}

#home-intro-1 {
  position: relative;
  align-content: right;
  margin-bottom: 80px;
}

#designing  {
  color:white;
  float: left;
  position: relative;
  margin-bottom: 200px;
  margin-top: 200px;
  font-weight: normal;
}

#water {
  color: white;
  float: right;
  position: relative;
  margin-bottom: 200px;
  font-weight: normal;
}

.heading-date {
  color: white;
  font-weight: normal;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 200px;
  top: 70px;

}

.logo {
  width: 280px;
}

#home-intro-1 {
  position: relative;
  margin-top: 100px;
}


//Text
h2 {
  font-weight:normal
}
@media screen and (min-width:1025px){
  .body-paragraphs {
    white-space: nowrap;}
}
