.homepage-banner {
  background-image: url('../../Assets/homepage-background.jpg');
  background-size: 100vw 1280px;
  background-repeat: no-repeat;
}

#home-intro-1 {
  position: relative;
  align-content: right;
  margin-bottom: 80px;
}

#designing  {
  color:white;
  float: left;
  position: relative;
  top: 350px;
}

#water {
  color: white;
  float: right;
  right: 0px;
  margin-bottom: 220px;
  padding-bottom: 170px;
  position: relative;
}

.heading-date {
  color: white;
  font-weight: normal;
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 90px;
  top: 900px;
  left: 300px;
}

.logo {
  width: 280px;
}


//Text
h2 {
  font-weight:normal
}
