.homeDivWrapper {
  background-image: url('../../Assets/homepage-background.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#home-intro-1 {
  position: relative;
  align-content: right;
  margin-bottom: 80px;
}