$breakpoint: 992px;
$pagewidth: 1280px;

.site-footer {
  background-color: #000;
  position: relative;
  top: 0;
  width: 100%;
  margin-top: 100px;
}

#longwood-footer-logo {
  width: 210px;
  height: auto;
  margin-right: 15px;
}

#aar-footer-logo {
  width: 175px;
  height: auto;
  margin-left: 15px;
  margin-top: 15px
}

.footer-logo-region {
  margin-bottom: 40px;
  margin-top: 40px;
  width: auto;
  display: -webkit-inline-box;
  display: -ms-flexbox;
}

.vl {
  height: 60px;
  margin-top: 10px;
  width: 1px;
  background: #ffffff;
}

@media screen and (max-width: $breakpoint) {
  #longwood-footer-logo {
    width: 95px;
    margin-top: 15px;
  }

  #aar-footer-logo {
    width: 76px;
    margin-top: 25px;
  }

  .footer-logo-region {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vl {
    height: 45px;
  }
}