.site-footer {
  background-color: #000;
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

#longwood-footer-logo {
  width: 210px;
  height: auto;
  margin-right: 20px;
}

#aar-footer-logo {
  width: 175px;
  height: auto;
  margin-left: 20px;
}

.footer-logo-region {
  margin-bottom: 82px;
  margin-top: 82px;
}
